In [1]:
import pandas as pd

In [ ]:
df = pd.read_parquet(
    "/data/challenges/hackathon_bigdata_2025/raw_data/part-00000-tid-2779033056155408584-f6316110-4c9a-4061-ae48-69b77c7c8c36-4-1-c000.snappy.parquet"
)
df2 = pd.read_parquet(
    "/data/challenges/hackathon_bigdata_2025/raw_data/part-00000-tid-5196563791502273604-c90d3a24-52f2-4955-b4ec-fb143aae74d8-4-1-c000.snappy.parquet"
)

# Df3 é bem pesado (vai lotar a memoria, acho que precisamos usar o polars aqui)
# df3 = pd.read_parquet("/data/challenges/hackathon_bigdata_2025/raw_data/part-00000-tid-6364321654468257203-dc13a5d6-36ae-48c6-a018-37d8cfe34cf6-263-1-c000.snappy.parquet")

In [3]:
df

                       pdv      premise     categoria_pdv  zipcode
0      2204965430669363375   On Premise      Mexican Rest    30741
1      5211957289528622910   On Premise       Hotel/Motel    80011
2      9024493554530757353  Off Premise       Convenience    80751
3      8659197371382902429   On Premise        Restaurant    80439
4      1400854873763881130   On Premise        Restaurant    30093
...                    ...          ...               ...      ...
14414  5047149578012031122  Off Premise    Package/Liquor    81501
14415  8352177618955815208  Off Premise    Package/Liquor    80219
14416  7754182004766664314   On Premise     Special Event    81004
14417  9044929558186581877   On Premise  Other On Premise    81226
14418  8795399024619655297   On Premise               Bar    80205

[14419 rows x 4 columns]

In [4]:
df2

,internal_store_id,internal_product_id,distributor_id,transaction_date,reference_date,quantity,gross_value,net_value,gross_profit,discount,taxes
0,7384367747233276219,328903483604537190,9,2022-07-13,2022-07-01,1.0,38.125000,37.890625,10.042625,3.950000,0.234375
1,3536908514005606262,5418855670645487653,5,2022-03-21,2022-03-01,6.0,107.250000,106.440002,24.732002,17.100000,0.810000
2,3138231730993449825,1087005562675741887,6,2022-09-06,2022-09-01,3.0,56.625000,56.220001,14.124002,5.250000,0.405000
3,3681167389484217654,1401422983880045188,5,2022-09-11,2022-09-01,129.0,1037.160023,1037.160023,156.348026,479.880006,0.000000
4,7762413312337359369,6614994347738381720,4,2022-02-18,2022-02-01,1.0,26.230000,23.950241,6.550241,0.000000,2.279758
...,...,...,...,...,...,...,...,...,...,...,...
6560693,1439579822593789678,2523145330235258825,4,2022-12-06,2022-12-01,3.0,63.000000,61.379761,20.879761,0.000000,1.620240
6560694,2357589266242432199,3148628429396585683,4,2022-05-20,2022-05-01,1.0,12.300000,12.300000,3.650000,2.800000,0.000000
6560695,7245187752757348055,6668439675743950745,4,2022-08-17,2022-08-01,1.0,33.849998,31.570240,10.191240,0.000000,2.279758
6560696,8952609383990245450,3894706280449257667,5,2022-02-03,2022-02-01,4.0,74.556000,73.655998,17.991999,15.600000,0.900000
6560697,815150310325179165,3479075165556992938,4,2022-11-30,2022-11-01,2.0,56.060001,51.500484,14.612485,0.000000,4.559516

In [ ]:
df2

In [ ]:
df3